

<div class="main">
  <header class="bg-img header">

    <div class="container">
      <div class="row">
          <div class="intro-box">
              <div class="intro">
                  <h1 style="padding-top :150px; padding-bottom: 400px;">Welcome to Beautier !</h1><br /><br />
                  <hr />
                  <a class="btn-log vira-btn"  href="products">Click this to explore </a>
                  <hr />
              </div>
          </div>
      </div>
    </div>
  </header>


  <section id="contact" class="contact section">
  <div class="container">
      <h2 class="title">Drop us a line</h2>
      <div class="row">
          <div class="col-sm-4">
              <div class="vira-card">
                  <div class="vira-card-header">
                      <span class="fa fa-map-o" aria-hidden="true"></span>
                  </div>
                  <div class="vira-card-content">
                      <h3>Address</h3>
                      <p>
                          Shanghai, China
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="vira-card">
                  <div class="vira-card-header">
                      <span class="fa fa-phone" aria-hidden="true"></span>
                  </div>
                  <div class="vira-card-content">
                      <h3>Phone</h3>
                      <p>
                          +021 6238237
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="vira-card">
                  <div class="vira-card-header">
                          <span class="fa fa-paper-plane" aria-hidden="true"></span>
                  </div>
                  <div class="vira-card-content">
                      <h3>Email</h3>
                      <p>
                          info@beautier.com
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-sm-12">
              <div class="social-icons">
                  <ul>
                      <a href="#"><li><span class="ion-social-facebook"></span></li></a>
                      <a href="#"><li><span class="ion-social-twitter"></span></li></a>
                      <a href="#"><li><span class="ion-social-pinterest"></span></li></a>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  </section>

  </div>

</div>
